# Virtuelle Umgebungen
venv/

# Medien (Videos+bilder)
media/tutorial_videos/
media/tutorial_images/
*.mp4
*.avi
*.mov
*.mkv
*.webm


# Bytecode-Dateien
__pycache__/
*.py[cod]

# Datenbanken
*.sqlite3

# IDE-Dateien
.idea/
.vscode/

# Systemdateien
.DS_Store
Thumbs.db
